/* PortfolioCard.module.css */

.cardContainer {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and shadow */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.cardContainer:hover {
  transform: scale(1.05); /* Enlarge by 5% */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

@media (min-width: 768px) {
  .cardContainer {
    flex-direction: row;
  }
}

.imageContainer {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(100% - 20px); /* Added space between 100% and - */
  margin: 10px 0px 10px 10px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .imageContainer {
    width: 600px; /* Fixed width on larger screens */
  }
}

.content {
  padding: 1.5rem;
  flex-grow: 1;
}
